.lesson {
  background-color: rgb(91, 66, 231);
}

#paragraph-1 {
  color: darkslateblue;
  background-color: white;
}

#paragraph-2 {
  color: rgb(64, 52, 141);
  background-color: darkorange;
}

#paragraph-3 {
  color: white;
  background-color: darkslateblue;
}
